html {
  box-sizing: border-box;
  background-image: url("calc-bg.jpg");
  	background-repeat: no-repeat;
  	background-position: center;
  	background-size: cover;
 	height: 100%;
  	width: auto;

}

*, *::before, *::after{

	box-sizing: inherit;
}

body{

	max-width: 1180px;
    width: 98%;
   	margin: 0px auto;
    text-align: center;
    padding: 24px;
}

.bg-img{
	
	background-image: url("calc-bg.jpg");
  	background-repeat: no-repeat;
  	background-position: center;
  	background-size: cover;
 	height: 100%;
  	width: auto;

}


p{

	font-family: arial;
	font-weight: lighter;
	margin-top: -32px;
	margin-bottom: 32px;
}

#img{

   height: 200px;
   max-width: auto;
   margin-top: 20px;
}

.CalcContainer{

	display: grid;
	border: 3px solid #f8e548;
  	border-radius: 20px;
  	position: relative;
  	padding: 8px;
 	text-align: center;
 	margin: auto;
  	width: 350px;
  	background-color: #fef151;
}


#display{
	display: grid;
  	font-size: 24px;
  	height: 80px;
  	margin-bottom: 10px;
  	background-color: #252525;
  	color: #fff35c;
  	text-align: right;
  	padding-right: 20px;
  	padding-top: 10px;
  	padding-left: 10px;
  	border-radius: 15px 15px 0px 0px;
}

#PadBorder{

	border-radius: 0px 0px 15px 15px;
	border: 2px solid #f8e548;
	padding: 10px;


}

.KeyContainer{

	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 10px;
	font-size: 1.5rem;
	font-size: 2rem;
	 
}

.numbers:hover{

	background-color: #f8f8f8;
}

.operators:hover{

	background-color: #353535;
}

.equal-btn:hover{

	background-color: #353535;
}


.operators{

	color:#fff;
	background-color: #252525;
	border-radius: 4px;
	border: 1px solid #252525;
	font-size: 2rem;
	padding: 10px;
	
}

.numbers{

	background-color: #fff;
	border-radius: 4px;
	border: 1px solid #f8e548;
	color: #000;
	font-size: 2rem;
	padding: 10px;
  
}

.equal-btn{

	color:#fff;
	background-color: #252525;
	border-radius: 4px;
	border: 1px solid #252525;
	font-size: 2rem;
	grid-row-start: 2;
	grid-row-end: 6;
	grid-column-start: 4;
	grid-column-end: 5;

}

